raw_bit_sequence_training_50000.npy
raw_data_imaginary_0.dat
raw_data_real_0.dat
raw_data_imaginary_1.dat
raw_data_real_1.dat
raw_data_imaginary_2.dat
raw_data_real_2.dat
raw_data_imaginary_3.dat
raw_data_real_3.dat
raw_data_real_4.dat
raw_data_imaginary_4.dat
training_data_5.csv

papr_data_5.dat
