raw_bit_sequence_training_50000.npy
raw_data_imaginary_0.dat
raw_data_real_0.dat
raw_data_imaginary_1.dat
raw_data_real_1.dat
raw_data_imaginary_2.dat
raw_data_real_2.dat
raw_data_imaginary_3.dat
raw_data_real_3.dat
raw_data_real_4.dat
raw_data_imaginary_4.dat
training_data_5.csv
papr_generator_code.py
test1_clipping2.4_filtering_16quam_8pilot_1.0+0j/training_data_6.csv
test2_clipping2.4_16quam_8pilot_1.0+0j/training_data_7.csv
test3_clipping2.4_16quam_nopilot/training_data_8.csv
test4_clipping2.4(+-)_16quam_nopilot/training_data_9.csv
